gunicorn==20.1.0
Flask==2.0.1
flask-behind-proxy==0.1.1
Flask-Dropzone==1.6.0
flask-sock==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
certifi==2018.1.18
dnspython==2.1.0
greenlet==1.1.0
Jinja2==3.0.1
requests==2.18.4
ShazamAPI==0.0.2
simple-websocket==0.2.0
ffmpeg==1.4
ffprobe==0.5
pydub==0.25.1
termcolor==1.1.0
scipy==1.5.4
PyAudio==0.2.11
matplotlib==3.3.4