<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='display.css') }}">
    <meta charset="UTF-8">
    <title>Kazaam</title>
</head>

<body class="display-background">
    <div class=" d-flex mt-2"> <a href="/">
            <button class="btn1 btn-dark">Home</button>
        </a>
    </div>
    <h1 class="center glowKazaam2"> Kazaam </h1>
    <img class="image" src={{artist_photo}} alt="Coverart" class="pic" />
    <b>
        <p class="center"> Artist Title:
    </b>{{ Artist_Title }}
    <br>
    <br>
    <b>Song Title: </b>{{ Song_Title }}
    <br>
    </p>
    <div>
        <br>
        <br>
        <br>
        <h2 class="center"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Song Lyrics</h2>
        <!-- Display Lyrics--> {%for i in range(0, len)%} <ul>{{list[i]}}</ul> {%endfor%}
    </div>
    <h2> Five Most Recently Kazaamed Songs </h2>
    <!-- Display Lyrics--> {%for i in range(0, len_recent)%} <ol>{{recent_five[i][0]}}</ol> {%endfor%}
</body>

</html>