<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='display.css') }}">
    <meta charset="UTF-8">
    <title>Flask-File Drag Drop System</title>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
</head>

<body>
    <h1 class="center"> Kazaam </h1>
    <div"> </div>
    {{ dropzone.create(action='upload') }}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
    <div class=" d-flex mt-2"> <a href="/display">
            <button class="btn1 btn-dark">Recognize</button>
        </a>
    </div>
</body>

</html>