<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='display.css') }}">
    <meta charset="UTF-8">
    <title>Flask-File Drag Drop System</title>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 200px; background-color: #003c85;') }}
</head>

<body class="home-background">
    <h1 class="center glowKazaam"> Kazaam </h1>
    <h1 class="center" style="color: red;"> {{ message }} </h1>
    <br>
    <br>
    <div class="box">
        <b class="glowExplain">
        <center>Record a playing song with your local recording app and upload. <br><br>
        Your recording will be deleted as soon as we recognize your song.</center>
        </b>
    </div>
    <div"> </div>
    {{ dropzone.create(action='upload') }}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
    <div class=" d-flex mt-2"> <a href="/display">
            <button class="btn btn-primary"><center>Recognize</center></button>
        </a>
    </div>
</body>

</html>